{% load static %}



<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/pizza.css' %}">
    <title>Pizza Portal</title>
</head>

<body>
    <div id="top">
            <div class="grid-container">
                <div id="grid-item"><a href="/dodajZamowienie">Dodaj zamówienie</a></div>
                <div id="grid-item"><a href="/zamowienia">Zobacz zamówienia</a></div>
                <div id="grid-item"><a href="/accounts/register">Zarejestruj się</a></div>
                {% if user.is_authenticated %}
                    <div id="grid-item"><a href="/accounts/logout/">Wyloguj się</a></div>
                {% else %}
                    <div id="grid-item"><a href="/accounts/login/">Zaloguj się</a></div>
                {% endif %}
                {% if user.is_superuser %}
                    <div id="grid-item"><a href="/dodajPizze">Dodaj Pizze</a></div>
                {% endif %}
            </div>
        </div>
    <div style="margin-left:50px">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
